#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
    background-color: #0a5a5e;
}



#inpBar {
    border: none;
    border-bottom: 2px solid #fff;
    background-color: #0a5a5e;
    width: fit-content;
    color: #fff;
    font-size: 30px;
    text-align: center;

    outline: none;
}

#submitButton {
    padding: 20px 139px;
    border: white;
    margin-bottom: 2%;
    color: #0a5a5e;
    font-size: 22px;
    border-radius: 33px;
    width: max-content;
    border-style: hidden;
    margin-top: 6%;
    margin-left: 0;
}

.children {
    display: flex;
    justify-content: center;
}

#submitButton:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
    cursor: hand;

}